.btn-green,a.btn-green{display:block;width:120px;height:35px;line-height:35px;text-align:center;background-color:#4a9b01;color:#fff;font-size:16px;border-radius:4px;cursor:pointer;}
.btn-green:hover{background-color:#58b108;}
.btn-green:active{background-color:#3f8401;}
.h2-green{font-weight:normal;color:#4a9b01;font-size:16px;}
.title-green h2{float:left;font-size:22px;color:#4a9b01;font-weight:normal;}
.title-green .sub{float:left;color:#101010;line-height:1;position:relative;top:5px;left:10px;}
.title-green .line{height:0;border-top:1px solid #ddd;float:right;width:83%;margin-top:17px;}
.fullscreen-poster{width:100%;min-width:990px;height:444px;background:url(../images/datas/attendant/poster.jpg) no-repeat center;}
.attendant-job .welfare{position:relative;top:-2px;margin-left:15px;}
.entry-notice{color:#333;}
.entry-notice li{height:45px;line-height:45px;border-bottom:1px solid #e8e8e8;}
.attendant-job .list{width:480px;margin:10px 0 0 138px;border:1px solid #e8e8e8;border-bottom:0;color:#569a0a;}
.attendant-job .list-each{border-bottom:1px solid #e8e8e8;float:left;width:100%;}
.attendant-job .list-each li{float:left;width:30%;text-align:center;height:47px;line-height:47px;background:url(../images/common2.png) no-repeat 141px -204px;}
.attendant-job .list-each li.pay{font-weight:bold;background:#fff;width:40%;}
.attendant-job .a4{position:absolute;left:-30px;top:70px;}
.attendant-job .signup{float:left;width:150px;background:#569a0a;color:#fff;text-align:center;height:35px;line-height:35px;font-size:16px;margin:15px 0 0 160px;}
.a-contact{color:#569a0a;font-size:13px;line-height:2.2;height:145px;}
.attendant-job .tip{float:left;margin:23px 0 0 15px;}
.a-contact .org{font-size:16px;color:#569a0a;height:32px;line-height:32px;margin:20px 0 15px 0;}
.a-contact .org img{margin-right:10px;width:32px;height:32px;}
/**/
.select-city{width:445px;display:none;}
.select-city a{float:left;width:80px;border:1px solid #569a0a;height:30px;line-height:30px;text-align:center;font-size:14px;margin:30px 0 0 50px;}
.select-city a:hover{background:#569a0a;color:#fff;}
/*familyEdu*/
.fullscreen-poster-2{width:100%;min-width:990px;height:682px;}
.family-edu-list{width:100%;position:relative;top:-40px;}
.list-each-a{float:left;display:inline;width:50%;height:165px;margin-top:40px;}
.list-each-a li{float:left;display:inline;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:210px;margin-top:10px;}
.list-each-a .pic{margin-right:20px;width:225px;margin-top:0;}
.list-each-a .pic img{width:225px;height:165px;}
.list-each-a .name{color:#4a9b01;font-size:16px;margin-top:5px;}
.list-each-a .btn-green{width:120px;}
.list-each-a .name2{font-size:18px;margin-top:5px;font-weight:590;}
.list-each-a .des{white-space:normal;line-height:2.2;}
/*parents-entry*/
.parents-entry{padding:0 0 0 40px;width:520px;position:relative;}
.parents-entry .form-each-name{color:#999;}
.parents-entry .upload{position:absolute;right:-300px;top:130px;}
.parents-entry .upload .portrait{width:200px;height:200px;background:#e6e6e6;cursor:pointer;}
.parents-entry .upload .portrait img{width:115px;height:115px;margin:28px 0 0 40px;}
.parents-entry .upload .portrait p{text-align:center;font-size:14px;color:#999;margin-top:10px;}
.parents-entry .upload .text{text-align:center;margin-top:10px;color:#888;}
.parents-entry .upload .text .red{color:#ff00000;position:relative;top:3px;margin-right:5px;font-size:15px;}
.parents-entry .upload .file{filter:alpha(opacity=0);-moz-opacity:0;opacity:0;position:absolute;width:200px;height:200px;top:0;left:0;cursor:pointer;z-index:9;}
/*edu-entry*/
.edu-entry-each{float:left;display:inline;width:470px;text-align:center;background:#fff;margin-left:20px;}
.edu-entry-each img{width:345px;height:420px;margin-top:40px;}
.edu-entry-each h2{font-weight:normal;font-size:16px;color:#333;margin:20px 0 10px 0;}
/*list-each-b*/
.list-b{position:relative;left:-30px;width:1020px;}
.list-each-b{float:left;width:225px;margin:30px 0 0 30px;}
.list-each-b img{width:225px;height:135px;}
.list-each-b .text{text-align:center;margin-top:10px;}
